@font-face {
    font-family: charter;
    src: url(/fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url(/fonts/charter-italic.otf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url(/fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url(/fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 18px;
    --luci30: #ff2a60;
    --luci10: #1f121b;
    --luci20: #151414;
}

html {
    font-size: 15px;
}

body {
    color: var(--luc10);
    font-family: "Nuxeo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: antiquewhite;
}

.a {
    color: var(--luci30);
}

.header {
    position: relative;
    inset-block-start: 0px;
}

.header-content {
    position: absolute;
    inset-block-start: 20px;
}

header {
    font-size: 15px;
    color: var(--luci20);
    position: absolute;
    inset-inline-start: -208px;
    inset-block-start: 0;
    inline-size: 188px;
}

.header li {
    margin-block-end: 10px;
    color: var(--luci10);
}

.header a {
    color: var(--luci10);
    text-decoration: none;
}

.header a:hover {
    color: var(--luci30);
}

nav details summary {
    font-weight: bold;
}

h1 {
    color: var(--luci20);
    text-align: center;
}

h2 {
    font-size: 35px;
    margin-block: 40px;
    color: var(--luci20);
    text-align: center;
}

p {
    color: var(--luci20);
}

.titulo {
    background: #ff2a60;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

#logo {
    position: absolute;
    padding: 15px 15px 15px 15px;
    width: 80px;
    height: 80px;
    z-index: 1000;
}

.titulo h1 {
    color: antiquewhite;
    font-size: 40px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.galeria img {
    width: 270px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
}

.galeria img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.section-conten img {
    margin-block-start: 40px;
    max-inline-size: 100%;
}

.section-conten {
    counter-reset: titlelist;
    display: block;
}

.wrapper {
    margin: auto;
    max-inline-size: 902px;
}

.main-content {
    padding-inline: 16px;
}

.main-content h1 {
    text-align: center;
    font-size: 35px;
    color: var(--luci10);
}

.main-content h2 {
    font-size: 28px;
    margin-block: 30px;
    color: var(--luci10);
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.video-item {
    flex: 1 1 200px;
    min-height: 230px;
    max-width: 320px;
}

.tiktok-embed {
    margin: 0;
    padding: 0;
    display: block;
    text-align: left !important;
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .titulo {
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
    #logo {
        width: 40px;
        height: 40px;
        top: 25px;
        left: 1px;
        position: absolute;
    }
    .titulo h1 {
        font-size: 28px;
    }
    .header {
        position: sticky;
        inset-block-start: -45px;
    }
    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 188px;
    }
    .galeria {
        flex-direction: unset;
        align-items: center;
    }
    .galeria img {
        width: 50%;
        height: auto;
    }
}